-root:{
    --cor-primaria: #1E90FF;
    --cor-secundaria: #FF6347;
    --cor-titulo: #FFD700;
    --cor-subtitulo: #ADFF2F;
    --cor-h1: #2E8B57;
    --cor-h2: #FF4500;
    --cor-h3: #8A2BE2;
}

body, h1, h2, h3, p, a{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    line-height: 1.6;
}